@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    color: #fff;
    background-color: #000;
  }
}

@layer components{
  .menuLink {
    @apply cursor-pointer hover:text-[#c5c5c5];
  }
  .tags{
    background-color: #57757b;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: white;
    font-size: 12px;

  }
  .tags:last-child{
    margin: 0;

  }
  .tags:nth-child(2){
    background-color: #cfe1d9;
}
tags:nth-child(3){
  background-color: #a55eea;
}
tags:nth-child(2){
  background-color: #275c30;}

}
















